.buttonWrapper {
  display: flex;
  & :first-child {
    margin-right: 20px;
  }
}

.button {
  width: 200px;
  height: 40px;
}

.increment {
  background-color: aqua;
}

.decrement {
  background-color: hotpink;
}
